body{
	background-color: #afafaf;
}

h2{
	text-align: center;
	color: #f7060e;
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
}

p{
	text-align: center;
}

.radio-toolbar{
	text-align: center;
}
.radio-toolbar input[type=radio]{
	display: none;
}

.radio-toolbar label{
	display:inline-block;
	background-color: #ddd;
	padding: 14px 40px;
	font-size: 16px;
	border: 2px, solid #444;
	border-radius: 4px;
}

.radio-toolbar input[type="radio"]:checked + label{
	background-color: #F44336;
	border-color: #4c4;
}

.radio-toolbar label:hover{
	background-color: #f79d96;
}

.img{
	text-align: center;
}

.resize{
	width: 150px;
}

.wrapper{
	text-align: center;
}

.button{
	padding: 14px 40px;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #FFF;
	background-color: #000;
	border: none;
	border-radius: 8px;
	box-shadow: 0 9px #999;
}

.button:hover{
	background-color: #F44336;
}
.button:active{
	background-color: #F44336;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
